@import './../../../config/app.generic.scss';

.title-label{
    @extend .title-generic;
}

.title-label-tooltip{
    @extend .title-label;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}


.subtitle-label{
    @extend .subtitle-generic;
}

.input-portal{
    @extend .container-input-generic;
}

.label-card {
    cursor: pointer;
    color: $color-blue-light1;
    font-family: $ZurichSansSemiBold ;
    font-size: $p16;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

.padding-card{
    padding: 3.75rem;
    border: 1px solid rgba(127,177,207,0.5);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
    flex: 0 0 auto;
    margin: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
}

.card-item{
    @extend .padding-card;
    padding: 0rem;
}

.card-item > .card-footer {
    cursor: pointer;
    margin: 0rem;
    margin-top: 1.8rem;
    height: 3.5rem;
    background: $color-blue-dark;
    color: $color-white;
    text-align: center;
    font-family: $ZurichSansBold;
}

.card-item > .card-header{
    background: $color-white;;
    border: none;
}

.card-item > .container-image{
    padding: 2.3rem;
    height: 10.125rem;
    width: 10.125rem;
}

.card-item > .container-image > img {
    margin-top: -10px;
}

.container-image{
    cursor: pointer;
    box-sizing: border-box;
    padding: 2.75rem;
    border: 2px solid $color-blue-light6;
    border-radius: 50%;
    margin-bottom: 2.813rem;
}

.card-item > .container-image{
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    margin-bottom: 1.875rem;
}

.label-card{
    text-transform: capitalize;
}

.class-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}


@media (min-width: 360px) and (max-width: 767px) { 
    
    .class-container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

}


