<div class="form-group" [ngClass]="classSection" *ngIf="isItemVisible">
    <div class="checkbox">
        <label class="container">
            <input type="checkbox" [(ngModel)]="value" (change)="setParameter()">
            <span class="checkmark"></span>
            <p>{{component.extras.title}}</p>
        </label>
    </div>
    <zurich-dynamic-form-information-message *ngIf="component.extras.messageInformation" [message]="component.extras.messageInformation"></zurich-dynamic-form-information-message>
</div>