@import './../../config/app.generic.scss';


.container-information{
    border: 1px solid $color-blue;
    border-left: 10px solid $color-blue;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    margin-top: 24px;
    padding: 7px 15px;
    display: grid;
    grid-template-columns: 4rem auto;
}

.container-information > img {
    display: block;
    margin: auto;
    margin-right: 14px;
}
.container-information > div {
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    color: $color-blue-dark;
    font-family: $ZurichSansRegular;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: start;
}