@import './../../config/app.generic.scss';

.color-text-erno{
    color: $color-gray;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    font-family: $ZurichSansRegular;
}

.content-erno{
    padding-left: 0.5rem;
}