@import './../../config/app.generic.scss';


.title-label{
    @extend .title-generic;
}


.subtitle-label{
    @extend .subtitle-generic;
}

.input-portal{
    @extend .container-input-generic;
}

.btn-group{
    width: 100% !important;
}

.btn-select-group{
    border: 1px solid rgba(127, 177, 207, 0.5);
    border-radius: 5px;
    background: #FFFFFF !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
    padding: 10px;
    font-size: 14px;
    color: #28639E;
}

.btn-select-group.active{
    background: #19BAB6 !important;
    border: none;
    color:white;
}