@import './../../config/app.generic.scss';

.title-label{
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
    color: $color-blue-dark;
    font-size: $font-size-17;
    font-family: $ZurichSansBold;
}

.subtitle-label{
    text-align: center;
    margin-top: 1rem;
    color: $color-blue-dark2;
    font-size: $font-size-14;
    font-family: $ZurichSansMedium;
}

.split-title{
    display: block;
    margin: auto;
    height: 1px;
    width: 70%;
    border: 1px solid $color-blue-light;
}



.select-seccion-background{
    @extend .seccion-background;
    background: #F1F2F2;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}