<div class="form-group" [ngClass]="classSection" [id]="component.id"  *ngIf="isItemVisible">
    <h3 class="title-label">{{title}}</h3>
    <div class="split-title"></div>
    <p class="subtitle-label">{{subtitle}}</p>
</div>