@import './../../config/app.generic.scss';

.container-icon{
    height: 9rem;
    width: 9rem;
    background-color: rgba(208,217,210,0.35);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
    margin: auto;
    border-radius: 50%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.label-primary{
    color: $color-blue-dark;
    font-family: $ZurichSansBold ;
    font-size: 21px;
    margin-top: 1rem;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
}

.label-secondary{
    color: $color-blue-dark;
    font-family: $ZurichSansBold ;
    font-size: 16px;
    margin-top: 1rem;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2rem;
}

// .bar-load{

// }

// .bar-load > div {
//     background-color: #19BAB6;
//     height: 100%;
//     width: 50%;
//     border-radius: 7.5px;
// }


.progress-line, .progress-line:before {
    height: 15px;
    width: 70%;
    margin: auto;
    border-radius: 7.5px;
    margin-bottom: 2rem;
    border: 1px solid #D0D9D2;
    border-radius: 7.5px;
  }
  .progress-line {
    display: -webkit-flex;
    display: flex;
  }
  .progress-line:before {
    background-color: #19BAB6;
    content: '';
    margin-top: -1px;
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 99%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 99%; margin-right: 0; }
  }
  @keyframes running-progress {
    0% { margin-left: 0px; margin-right: 99%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 99%; margin-right: 0; }
  }


  .button-asertive{
    border: 1px solid $color-blue-dark;
    background: $color-blue-dark;
    color: $color-white
}

.button-clear{
    background: $color-white;
    color: $color-blue-dark;
    border: 1px solid $color-blue-dark;
    border-radius: 5px;
}

.group-buttons{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 31px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

.group-button{
  width: 50%;
  margin: auto;
  display: block;
}