.form-container{
    margin-right: 6rem;
    margin-left: 6rem;
    padding-top: 2.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background: #F9F9FB;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    height: 100%;
    margin-bottom: 4rem;
}

.close-popup{
  font-size: 2.2rem;
    color: #253760;
    display: block;
    margin-left: auto;
    margin-right: 2.1rem;
    text-align: right;
    cursor: pointer;
}

@media (min-width: 360px) and (max-width: 767px) { 
    .form-container{
        width: 100%;
        margin-right: 0rem;
        margin-left: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        background: #F9F9FB;
    }

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}


.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
       width: 1170px;
    }
  }