<div class="form-group" [ngClass]="classSection"  *ngIf="isItemVisible">
    <h3 class="title-label">{{title}}</h3>
    <div class="container-interactive" [style.backgroundImage]="'url('+ image +')'" [id]="id">
        <div class="panel-interactive" (click)="onSelect(1)" [ngClass]="(this.indexSelect.indexOf(1) > -1) ? 'pieceSelected' : '' "></div>
        <div class="panel-interactive" (click)="onSelect(2)" [ngClass]="(this.indexSelect.indexOf(2) > -1) ? 'pieceSelected' : '' "></div>
        <div class="panel-interactive" (click)="onSelect(3)" [ngClass]="(this.indexSelect.indexOf(3) > -1) ? 'pieceSelected' : '' "></div>
        <div class="panel-interactive" (click)="onSelect(4)" [ngClass]="(this.indexSelect.indexOf(4) > -1) ? 'pieceSelected' : '' "></div>
    </div>
    <zurich-dynamic-form-error *ngIf="isError"></zurich-dynamic-form-error>
</div>