@import './../../config/app.generic.scss';

.container-interactive{
    height: 18rem;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 1px solid $color-blue-dark3;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-interactive > div {
    border: 1px solid $color-blue-dark3;

    &:hover{
        background: $color-blue-dark3 !important;
        opacity: 0.7 !important;
    }
}

.pieceSelected{
    border: 1px solid $color-blue-dark3 !important;
    background: $color-blue-dark3 !important;
    opacity: 0.4 !important;
}

.title-label{
    @extend .title-generic;
    text-align: center;
}


.subtitle-label{
    @extend .subtitle-generic;
}