@import './../../config/app.variables.scss';

// .step:first-child {
//     color: lime;
// }

// .step:last-child {
//     color: lime;
// }
.container-steps {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.item-step{
  color: $color-white;
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  display: inline-block;
  margin-top: 0.2rem;
}

.step {
  @extend .item-step;
  background: $color-blue-light;

}

.step > div{
    padding: 0.9rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.25rem;
}

.container-step {
  display: flex;
}

.container-box {
  height: 0.125rem;
  width: 3.5rem;
  min-width: 1.5rem;
  max-width: 7.5rem;
  margin-top: 1.8rem;
}

.container-box-select{
  @extend .container-box;
  border: 2px solid $color-blue-light;
}

.container-box-unselect{
  @extend .container-box;
  border: 2px solid $color-blue-dark;
}


.step-select {
  border: 1px solid $color-blue-light;
  background-color: $color-white;
  width: 4.2rem !important;
  height: 4.2rem !important;
  margin-top: 0rem;
}

.step-last {
  @extend .item-step;
  background: $color-blue-dark;
}

.step-select > .step-item {
    margin: 5%;
    padding: 0.9rem;
    width: 90%;
    height: 90%;
    background: $color-blue-dark;
}

zurich-dynamic-form-title:first-child{
  margin-top: 2.5rem;
}

zurich-dynamic-form-title:last-child{
  margin-top: 2.5rem;
}