@font-face {
    font-family: 'ZurichSansBold';
    src: url('./font/TTF/ZurichSans-Bold.ttf');
}
@font-face {
    font-family: 'ZurichSansBoldItalic';
    src: url('./font/TTF/ZurichSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'ZurichSansItalic';
    src: url('./font/TTF/ZurichSans-Italic.ttf');
}
@font-face {
    font-family: 'ZurichSansLight';
    src: url('./font/TTF/ZurichSans-Light.ttf');
}
@font-face {
    font-family: 'ZurichSansLightItalic';
    src: url('./font/TTF/ZurichSans-LightItalic.ttf');
}
@font-face {
    font-family: 'ZurichSansMedium';
    src: url('./font/TTF/ZurichSans-Medium.ttf');
}
@font-face {
    font-family: 'ZurichSansMediumtItalic';
    src: url('./font/TTF/ZurichSans-MediumtItalic.ttf');
}
@font-face {
    font-family: 'ZurichSansRegular';
    src: url('./font/TTF/ZurichSans-Regular.ttf');
}
@font-face {
    font-family: 'ZurichSansSemiBold';
    src: url('./font/TTF/ZurichSans-SemiBold.ttf');
}
@font-face {
    font-family: 'ZurichSansSemiBoldtItalic';
    src: url('./font/TTF/ZurichSans-SemiBoldtItalic.ttf');
}