/** IMPORT CONFIGURATION FONT **/

@import './app.configuration.scss';

/** FONT **/

$ZurichSansBold : 'ZurichSansBold';
$ZurichSansBoldItalic : 'ZurichSansBoldItalic';
$ZurichSansItalic : 'ZurichSansItalic';
$ZurichSansLight : 'ZurichSansLight';
$ZurichSansLightItalic : 'ZurichSansLightItalic';
$ZurichSansMedium : 'ZurichSansMedium';
$ZurichSansMediumtItalic : 'ZurichSansMediumtItalic';
$ZurichSansRegular : 'ZurichSansRegular';
$ZurichSansSemiBold : 'ZurichSansSemiBold';
$ZurichSansSemiBoldtItalic : 'ZurichSansSemiBoldtItalic';

/** HEADER VARIABLES **/

$background-header-image : '/assets/img/img-background.png';
$icon-header-image : '/assets/img/img-logo.png';
$icon-dropdown : '/assets/img/img-dropdown.png';

/** COLORS **/

$color-blue-dark : #253760;
$color-blue :#4870C6;
$color-blue-light : #7FB1CF;
$color-blue-light1 : #7293C7;
$color-blue-light2 : rgba(127,177,207,0.5);
$color-blue-light3 : rgba(127, 177, 207, 0.86);
$color-blue-light4 :#19BAB6;
$color-blue-light5: #28639E;
$color-blue-light6: #22AAD4;
$color-gray-light : #D0D9D2;
$color-gray-light1 :#f1f2f2;
$color-white : white;
$color-blue-dark2 : #333333;
$color-blue-dark3 : #293B63;
$color-red: #FF7569;
$color-gray: #6B6B6B;
$color-black: rgba(0, 0, 0, 0.29);

/** SIZE FONT **/

$font-size-18: 1.6rem;
$font-size-17: 1.4rem;
$font-size-16: 1rem;
$font-size-14: 14px;

/** SIZE PADDING **/
$pInput : 9px;
$p14 : 14px;
$p16 : 16px;
$p18 : 18px;
$size45: 44px;
$size42: 42px;
$sizeFont: 0.9rem !important;
