@import './app.configuration.scss';
@import './app.variables.scss';
@import './icons-font/scss/font-awesome.scss';

.form-group {
    margin-bottom: 0rem;
}

.title-generic{
    color: $color-blue-dark;
    font-family: $ZurichSansBold;
    font-size: $font-size-14;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
}

.subtitle-generic{
    color: $color-blue-dark2;
    font-family: $ZurichSansRegular;
    font-size: $font-size-14;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 8px;
}

p{
    margin-bottom: 0rem;
}

.container-input-generic{
    color : $color-blue-dark2;
    height: auto;
    border: 1.5px solid $color-blue-light2;
    border-radius: 5px;
    background-color: $color-white;
    padding-top: $pInput;
    padding-bottom: $pInput;
    padding-left: $p16;
    padding-right: $p16;
    font-size: $sizeFont;
}

.seccion-background{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.select-seccion-background{
    @extend .seccion-background;
    background: #F1F2F2;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}

.isVisible{
    display: block;
}

.isInvisible{
    display: block;
}

@media (min-width: 360px) and (max-width: 767px) { 
    
    .seccion-background{
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

.error-class{
    border-color: $color-red !important;
    color: $color-red !important;
}