@import './../../config/app.generic.scss';

.title-label{
    @extend .title-generic;
}


.subtitle-label{
    @extend .subtitle-generic;
}

.input-portal{
    @extend .container-input-generic;
}

.button-into-input{
    width: $size45;
    height: $size42;
    margin: auto;
    display: block;
    padding: 0px !important;
    margin-top: -42px;
    margin-right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px;
    background: $color-blue-dark;
}

.button-into-input2{
    @extend .button-into-input;
    width: auto;
    padding-right: 15px !important;
    padding-left: 15px !important;
    color: white;
}

.button-into-input3{
    @extend .button-into-input;
    display: block;
    margin: .2rem;
    width: auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-into-input > img{
    margin-left: 10px;
    margin-right: 10px;
}


.ngb-dp-day > .bg-primary{
    color: white;
}


.background-preload{
    background: $color-gray-light1;
}

.btn-disabled{
    background: #cacccc;
}


// .animated-click {
//     -webkit-animation-duration: 2s;
//     animation-duration: 2s;
//      animation-iteration-count: infinite;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
//    }
//    @-webkit-keyframes animation-click {
//     0%, 50%, 100% {
//      -webkit-box-shadow: 0px 0px 29px 0px #1e67ab;
//    -moz-box-shadow: 0px 0px 29px 0px #1e67ab;
//    box-shadow: 0px 0px 29px 0px #1e67ab;
//     }
//    25%, 75% {
//     box-shadow: none;
//     }
//    }
//    @keyframes animation-click {
//     0%, 50%, 100% {
//      -webkit-box-shadow: 0px 0px 29px 0px #1e67ab;
//    -moz-box-shadow: 0px 0px 29px 0px #1e67ab;
//    box-shadow: 0px 0px 29px 0px #1e67ab;
//     }
//    25%, 75% {
//     box-shadow: none;
//     }
//    }
//    .animation-click {
//     -webkit-animation-name: animation-click;
//     animation-name: animation-click;
     
//    }

