
<div class="form-group" [ngClass]="classSection" *ngIf="isItemVisible">
    <button type="button" (click)="onClickButton()" class="btn btn-primary button-footer" [ngClass]="classButton">{{title}}</button>
</div>