@import './../../config/app.generic.scss';

.button-asertive{
    border: 1px solid $color-blue-dark;
    background: $color-blue-dark;
    color: $color-white
}

.button-clear{
    background: $color-white;
    color: $color-blue-dark;
    border: 1px solid $color-blue-dark;
    border-radius: 5px;
}

.button-footer{
    font-family: $ZurichSansBold;
    font-size: $font-size-16;
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: auto;
    padding: 10px;
    padding-left: 5.35rem;
    padding-right: 5.35rem;
    margin-bottom: 5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
}

@media (min-width: 360px) and (max-width: 767px) { 
    .button-footer{
        padding-left: 3.35rem;
        padding-right: 3.35rem;
    }
}

.group{
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 22rem;
}
.group:last-child{
    margin-top: 0;
}