@import './../../config/app.generic.scss';

.title-label{
    @extend .title-generic;
}


.subtitle-label{
    @extend .subtitle-generic;
}

.container-select{
    @extend .container-input-generic;
}

.input-portal{
    @extend .container-input-generic;
    margin: .5rem;
    width: 97%;
}

.input-changeColor {
    color : $color-blue-dark2 !important;
}

.dropdown-toggle::after {
    content: "";
    right: 1rem;
    position: absolute;
    background: url(/assets/img/img-dropdown.png) no-repeat;
    width: 1rem;
    background-size: 100%;
    height: 1rem;
    top: 1.1rem;
    border: none;
}

.dropdown-toggle{
    text-align: left;
    font-size: $sizeFont;
}


.content-scrollable{
    width:100%;
    max-height: 22rem !important;
    overflow:auto;
}