.form-container{
    margin-right: 6rem;
    margin-left: 6rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background: #F9F9FB;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    height: 100%;
    margin-bottom: 4rem;
}

.container-message {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

@media (min-width: 360px) and (max-width: 767px) { 
    .form-container{
        width: 100%;
        margin-right: 0rem;
        margin-left: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        background: #F9F9FB;
    }

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }


    .container-message{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: .6rem;
    }
}