<div class="form-group" [ngClass]="classSection"  *ngIf="isItemVisible" [id]="id">
    <label *ngIf="title !== ''" class="title-label" [for]="id">{{title}}</label>
    <p *ngIf="subtitle !== ''" class="subtitle-label">{{subtitle}}</p>
    <textarea class="form-control" rows="5" (blur)="setValue(this.value)" [ngClass]="{'error-class': isError }" [(ngModel)]="value" id="comment"></textarea>
    <zurich-dynamic-form-error *ngIf="isError"></zurich-dynamic-form-error>
</div>