@import './../../config/app.generic.scss';

.title-label{
    @extend .title-generic;
}

.title-label-tooltip{
    @extend .title-label;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.title-label-tooltip-erno{
    @extend .title-label;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    color: $color-red;
}

.subtitle-label{
    @extend .subtitle-generic;
}

.input-portal{
    @extend .container-input-generic;
}

.button-into-input{
    width: $size45;
    height: $size42;
    margin: auto;
    display: block;
    padding: 0px !important;
    margin-top: -42px;
    margin-right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px;
    background: $color-blue-dark;
}

.button-into-input > img{
    margin-left: 10px;
    margin-right: 10px;
}


.ngb-dp-day > .bg-primary{
    color: white;
}

.dropdown-pickertime{
    padding: 2.1rem;
}

.dropdown-toggle::after{
    display: none !important;
}

.content-footer{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    margin-top: 2.5rem;
}

.content-footer > button {
    color: $color-blue-light5;
    font-family: "ZurichSansSemiBold";
    font-size: $font-size-14;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $p16;
    text-align: right;
}

.dropdown-pickertime{
    border: 1px solid $color-blue-light6;
    border-radius: 5px;
    background-color: #FFFFFF;
}