<div class="background-image">
    <img class="img-header" [src]="header">
    <!-- <div class="header-logo"></div> -->
    <!-- <div class="container-div-header">Formulario Reporte Siniestro</div> -->
  </div>