@import './../../config/app.variables.scss';

.icon-header{
    width: 60px;
    margin: auto;
    display: block;
}

.container-div-header{
    display: block;
    background: $color-blue-dark;
    color: $color-white;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    margin-left: 10rem;
    margin-right: 10rem;
}


/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 360px) and (max-width: 767px) { 
    .container-div-header{
        display: block;
        width: fit-content;
        background: $color-blue-dark;
        color: $color-white;
        padding-left: 3.6rem;
        padding-right: 3.6rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        font-size: 1.8rem;
        text-align: center;
        margin: auto;
    }
}

.background-image{
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    // background: url($background-header-image);
    // background-size: cover;
    // background-repeat: no-repeat;
}

.header-logo{
    margin: auto;
    margin-right: 3rem;
    margin-bottom: 9.8rem;
    width: 14.5rem;
    height: 3.4rem;
    background: url($icon-header-image);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-header{
    width: 100%;
}