@import './../../config/app.generic.scss';

.title-label{
    @extend .title-generic;
}


.subtitle-label{
    @extend .subtitle-generic;
}

.input-portal{
    @extend .container-input-generic;
}


.button-into-input{
    width: $size45;
    height: $size42;
    margin: auto;
    display: block;
    padding: 0px !important;
    margin-top: -42px;
    margin-right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px;
    background: $color-blue-dark;
}

.button-into-input > img{
    margin-left: 10px;
    margin-right: 10px;
}


.ngb-dp-day > .bg-primary{
    color: white;
}
