/* You can add global styles to this file, and also import other style files */
.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*="col-"] {
    float: none;
    display: block !important;
    margin-left: 0;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%  !important;
}

.btn-info {
    color: #7FB1CF !important;
    height: auto !important;
    border: 1.5px solid rgba(127, 177, 207, 0.5) !important;
    border-radius: 5px !important;
    background-color: #FFFFFF !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-size: 16px !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #253760 !important;
}


.header-card{
    background: white !important;
    border-bottom: 0px solid !important;
    color: #253760;
    font-family: "ZurichSansBold";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    padding: 1.5rem !important;
    padding-bottom: 1.25rem !important;
}

.body-card{
    padding-top: 0rem !important;
    padding-bottom: 1.5rem !important;
}

.content-body-card{
    color: #424242;
    font-family: "ZurichSansRegular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 1rem;
}

.bs-popover-right{
    min-width: 22rem !important;
    max-width: 22rem !important;
    border: 1px solid rgba(99, 164, 204, 0.5) !important;
    border-radius: 5px !important;
    background-color: #FFFFFF !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35) !important;
}

.body-card > img{
    width: 100%;
}

@media (min-width: 481px) and (max-width: 767px) { 
    .bs-popover-right{
        max-width: 14rem !important;
        border: 1px solid rgba(99, 164, 204, 0.5) !important;
        border-radius: 5px !important;
        background-color: #FFFFFF !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35) !important;
    }
}

.close-card{
    right: 1.25rem;
    position: absolute;
    color: #D8D8D8;
    font-size: 1.5rem;
    font-weight: 100;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


// MODIFY CARD TOOLTIP DATEPICKER

@media (max-width: 480px)  { 
    .ngb-dp-header{
        padding-top: 1.05rem !important;
        padding-right: 1.05rem !important;
        padding-left: 1.05rem !important;
        padding-bottom: 0.5rem !important;
    }
        
    [ngbDatepickerDayView] {
        margin: 0rem !important;
    }
    .ngb-dp-weekday{
        width: 2.1rem !important;
    }   
}

.ngb-dp-header{
    padding-top: 2.1rem !important;
    padding-right: 2.1rem !important;
    padding-left: 2.1rem !important;
    padding-bottom: 1rem !important;
}

[ngbDatepickerDayView] {
    background: transparent;
    border-radius: .25rem;
    height: 2.9rem !important;
    line-height: normal !important;
    text-align: center;
    width: 2.9rem !important;
    padding: 0.8rem;
    border-radius: 50% !important;
}
.ngb-dp-day{
    height: auto !important;
    width: auto !important;
    border-radius: 50% !important;
}

.ngb-dp-day:focus {
    outline: none !important;
    border:0px solid !important;
}

.ngb-dp-week-number{
    margin: 0.8rem;
}
.ngb-dp-weekday{
    margin: 0.8rem;
    width: 1.3rem !important;
    color: #333333 !important;
    font-family: "ZurichSansBold";
    font-style: normal !important;
    font-weight: bold !important;
}

.ngb-dp-month-name{
    color: #28639E !important;
    font-family: "ZurichSansBold" !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
}

.ngb-dp-arrow-btn > span{
    color: #28639E !important;
}

.ngb-tp-input-container > button > span{
    color: #253760 !important;
}

.ngb-dp-day > .bg-primary{
    border-radius: 50%;
    background: #28639E !important;
}

.ngb-dp-weekdays{
    background-color: white !important;
    border-bottom: none !important;
}
.ngb-dp-header{
    background-color: white !important;
}
.ngb-dp-month-name{
    background-color: white !important;
}

.base-ngb-tp{
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    border-top: 3px solid #253760 !important;
    border-bottom: 3px solid #253760 !important;
    color: #333333 !important;
    font-family: "ZurichSansSemiBold" !important;
    
}


.ngb-tp-input{
    @extend .base-ngb-tp;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    letter-spacing: 0 !important;
    line-height: 32px !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    height: auto !important;
}

.ngb-tp-meridian > button{
    @extend .base-ngb-tp;
    font-size: 1.3rem !important;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.ngb-tp-meridian > button:hover{
    @extend .base-ngb-tp;
    font-size: 1.3rem !important;
    background: #333333 !important;
    color:white !important;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

ngb-datepicker{
    border: 1px solid #22AAD4 !important;
    border-radius: 5px !important;
    background-color: #FFFFFF !important;
}

.btn-group-vertical{
    width: 100% !important;
}

ngb-datepicker-navigation-select>.custom-select{
    border: none;
    background: none;
    cursor: pointer;
    color: #28639E !important;
    font-family: "ZurichSansBold" !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    font-size: larger !important;
}

.fullscreen-modal{
    margin: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
  }


  .img-tooltip-slide{
    width: auto;
    display: block;
    margin: auto;
    width: 6rem;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0px !important;
    margin-right: 15% !important;
    margin-left: 15% !important;
    list-style: none;
    bottom: -3rem !important;
    margin-bottom: 14px !important;
}

.carousel-indicators > li {
    height: 1rem !important;
    width: 1rem !important;
    border-radius: 50%  !important;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 10px !important;;
    margin-left: 10px !important;;
    text-indent: -999px;
    cursor: pointer;
    background-color: #979797  !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.card-item-tooltip {
    padding : 15px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15px 4rem 20px;
    grid-gap: 3px;
}

.card-item-tooltip > h4 {
    color: #253760;
    font-family: "ZurichSansSemiBold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

.card-item-tooltip > span {
    color: #424242;
    font-family: "ZurichSansRegular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
}

.carousel-item > div{
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
    width: 100%;
}

.carousel-control-next-icon{
    border-top: 5px solid #253760;
    border-right: 5px solid #253760;
    transform: rotate( 45deg );
}

.carousel-control-prev-icon{
    border-top: 5px solid #253760;
    border-left: 5px solid #253760;
    transform: rotate( -45deg );
}

.carousel-indicators > li{
    background: #19BAB6 !important;
    filter: grayscale(100%) !important;
    width: 1rem !important;
    height: 1rem !important;
    border: none !important;
}
.carousel-indicators > .active {
    filter: grayscale(0%) !important;
    width: 1rem !important;
    height: 1rem !important;
    border: none !important;
}

.card-item-tooltip:nth-child(1){
    border-right: 1px dashed #253760;
    border-bottom: 1px dashed #253760;
}
.card-item-tooltip:nth-child(2){
    border-bottom: 1px dashed #253760;
}

.card-item-tooltip:nth-child(3){
    border-right: 1px dashed #253760;
}

.dropdown-menu.show {
    max-height: 27rem !important;
    overflow-y: auto !important;
}

.ngb-tp-input{
    background: white !important;
}


.content-body-card {
    p {
        color: #253760 !important;
        font-family: "ZurichSansBold" !important;
        font-size: 14px !important;
        font-weight: bold !important;
    }
}