@import './../../config/app.generic.scss';

.grid-labels{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
}

.title-grid{
  color: $color-blue-dark;
  font-family: $ZurichSansBold;
  font-size: $font-size-14;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}

.value-grid{
    color: $color-blue-dark2;
    font-family: $ZurichSansRegular;
    font-size: $font-size-14;
    letter-spacing: 0;
    line-height: 16px;
}

.grid-mobile{
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
}

.item-grid{
    margin-bottom: 2rem;
}

@media (min-width: 481px) and (max-width: 767px) { 
    .grid-labels{
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 10px;
    }
}