<div class="grid-labels" [ngClass]="(classMobile != '')? classMobile +' '+classSection : classSection"  *ngIf="isItemVisible">
    <div class="item-grid" *ngFor="let option of component.extras.options">
        <p class="title-grid">{{option.title}}</p>
        <span class="value-grid">{{option.value || ''}}</span>
    </div>
</div>