@import './../../../../../../libs/ui/src/config/app.generic.scss';


.title-label{
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
    color: $color-blue-dark;
    font-size: $font-size-17;
    font-family: $ZurichSansBold;
}


.subtitle-label{
    text-align: center;
    margin-top: 1rem;
    color: $color-blue-dark2;
    font-size: $font-size-14;
    font-family: $ZurichSansMedium;
}

.split-title{
    display: block;
    margin: auto;
    height: 1px;
    width: 70%;
    border: 1px solid $color-blue-light;
}



.select-seccion-background{
    // @extend .seccion-background;
    background: #F1F2F2;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.header > img {
    width: 100%;
}

section {
    padding: 5rem;
}

.first-section {
    background-color: #F9F9FB;
    padding-bottom: 2rem;
}

.first-section > div > img {
    margin: auto;
    display: block;
    background-color: rgba(208,217,210,0.35);
    padding: 10px;
    margin-top: 1rem;
    border-radius: 50%;
}

.second-section {
    background-color: #F1F2F2;
    padding-top: 2rem;
}

.second-section > div > img {
    margin: auto;
    display: block;
    width: 35%;
}

.button-asertive{
    background-color: #253760;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
    color: white;
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 37%;
}
