@import './../../config/app.generic.scss';

.title-label {
  @extend .title-generic;
}

.subtitle-label {
  @extend .subtitle-generic;
  margin-top: 8px;
}

.border-container-file {
  width: 100%;
  height: 6rem;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 0 2px 4px 0 $color-black;
}

.label-informative {
    display: grid;
    margin-top: -6rem;
    width: 100%;
    height: 100%;
    text-align: left;
    grid-template-columns: 30% 1fr;
}

.label-informative > img {
    display: block;
    margin: auto;
    width: 3.6rem;
}

.label-informative > label{
    text-align: left;
    padding: 7% 0px;
    color: $color-blue-light;
    font-family: $ZurichSansBold;
    font-size: $font-size-14;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $p16;
  }


/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .border-container-file{
        height: 10rem;
    }
    
    .label-informative {
        margin-top: -14rem;
        grid-template-columns: 100%;
        grid-template-rows: 50% 1fr;
    }

    .label-informative > label{
        text-align: center;
        padding: 4% 0px;
    }
} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    .border-container-file{
        height: 10rem;
    }
    .label-informative {
        margin-top: -14rem;
        grid-template-columns: 100%;
        grid-template-rows: 50% 1fr;
    } 
    .label-informative > label{
      text-align: center;
    }
} 

.border-container-file > input {
    width: 100%;
    height: 100%;
    margin-top: -6rem;
    display: block;
    opacity: 0;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.border-container-file:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 2px dashed $color-blue-light3 ;
  border-radius: 5px;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container-label-file-upload{
  display: grid;
  grid-template-columns: 35px 1fr 55px;
  grid-template-rows: 1fr;
}

.container-label-file-upload> img {
  display: block;
  margin: auto;
}

.container-label-file-upload> p {
  display: block;
  margin: auto 0;
}

.container-progress-bar{
  margin-top: 12px;
  width: 100%;
  height: 15px;
  border: 1px solid $color-gray-light;
  border-radius: 7.5px;
}

.bar-progress-bar{
  height: 100%;
  width: 75%;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  background: $color-blue-light4;
}